In [8]:
import pandas as pd

In [9]:
data=pd.read_csv('OUT_EXP_2.out')

In [10]:
data

                                            Outdata
0                                               591
1                                               447
2                                               447
3                                               591
4                                       -----------
...                                             ...
59228  [epoch 177]  average training loss: 283.2458
59229  [epoch 178]  average training loss: 283.1138
59230  [epoch 179]  average training loss: 283.0613
59231  [epoch 180]  average training loss: 282.8930
59232  [epoch 181]  average training loss: 282.7502

[59233 rows x 1 columns]

In [11]:
count = 0
for i in range (0,100):
    print(data['Outdata'][count]+' '+data['Outdata'][count+1]+' '+data['Outdata'][count+2]+' '+data['Outdata'][count+3]+' '+data['Outdata'][count+507][len(data['Outdata'][count+507])-8:len(data['Outdata'][count+507])]+' '+data['Outdata'][count+508][len(data['Outdata'][count+508])-8:len(data['Outdata'][count+508])])
    count = count + 509

591 447 447 591 290.4039 302.4349
530 359 359 530 301.7150 312.1890
622 407 407 622 295.8893 303.5676
797 666 666 797 278.9689 289.9988
231 105 105 231 446.6543 450.0969
951 806 806 951 273.5055 285.2417
832 642 642 832 279.7010 291.5378
997 985 985 997 271.0199 282.0642
1015 806 806 1015 274.5297 286.3908
869 857 857 869 272.8564 283.5104
959 806 806 959 273.3802 284.5688
933 921 921 933 271.5986 284.8606
997 985 985 997 269.5433 282.2259
797 666 666 797 276.4697 287.3485
1134 919 919 1134 271.3603 283.2228
1103 959 959 1103 270.3241 280.7009
945 933 933 945 270.7315 283.3429
1139 986 986 1139 270.8025 284.0806
1109 956 956 1109 270.8042 281.8564
1079 935 935 1079 270.5767 281.5230
1087 959 959 1087 270.6495 281.3928
1167 959 959 1167 271.9942 283.5899
953 806 806 953 274.4682 283.9273
1134 919 919 1134 270.5845 281.5200
655 447 447 655 290.6098 303.0800
1055 927 927 1055 271.4972 282.5398
1095 959 959 1095 269.5712 281.3173
932 932 932 932 271.0541 281.6321
823 679 679 823 277.6720 288.3878
1135 959 959 1135 269.1963 281.3137
1101 948 948 1101 270.7593 282.6535
1198 983 983 1198 270.7219 281.6189
973 948 948 973 270.1481 281.4215
1134 983 983 1134 269.2817 279.7560
1163 1012 1012 1163 269.4473 280.1111
1136 919 919 1136 270.4110 280.5816
1142 959 959 1142 269.7802 281.5595
1127 919 919 1127 271.5567 282.0086
1133 980 980 1133 269.9109 281.8620
1166 951 951 1166 271.9540 281.7421
1163 1012 1012 1163 268.3257 279.2526
654 503 503 654 288.0602 299.6236
879 724 724 879 275.9653 287.0827
1131 983 983 1131 268.3490 279.8543
1206 1023 1023 1206 269.7297 280.4935
1070 919 919 1070 270.9268 281.4281
1163 1012 1012 1163 269.0168 283.4746
1134 983 983 1134 271.1810 282.6236
1163 1012 1012 1163 269.2300 280.3052
1206 1023 1023 1206 269.4763 283.4450
1068 919 919 1068 271.3544 282.4076
1142 991 991 1142 270.3849 282.4896
1133 982 982 1133 270.8612 281.2773
622 471 471 622 288.8498 299.4240
1204 1023 1023 1204 267.3120 277.8083
942 919 919 942 270.7098 280.8642
1214 1023 1023 1214 268.7143 280.3597
694 511 511 694 287.1245 295.8323
692 511 511 692 286.0921 297.3021
1132 919 919 1132 271.3983 282.2130
1002 979 979 1002 270.0671 282.0632
1140 957 957 1140 269.7101 280.8246
1172 991 991 1172 268.0722 279.2036
1200 1019 1019 1200 267.3479 279.0142
1150 959 959 1150 270.4677 281.4331
1001 978 978 1001 269.8516 280.7962
1158 991 991 1158 270.4524 284.0962
436 255 255 436 320.0596 330.1049
1138 955 955 1138 270.5851 281.2989
1211 1023 1023 1211 269.0720 281.3580
686 511 511 686 285.8936 296.6207
1202 1019 1019 1202 268.4585 278.8764
1173 991 991 1173 270.1176 281.2838
1126 959 959 1126 271.2169 281.5908
1106 923 923 1106 271.5630 282.6807
1033 1010 1010 1033 268.3786 279.4325
955 767 767 955 275.7490 286.5212
1200 1019 1019 1200 268.4041 278.4657
1213 1023 1023 1213 270.6725 281.3458
1140 959 959 1140 270.8788 281.1434
1172 991 991 1172 269.8696 280.3876
1141 959 959 1141 271.4171 282.4709
1136 959 959 1136 270.3354 280.8643
1204 1023 1023 1204 268.6196 279.9422
1108 959 959 1108 269.3709 280.2496
1138 955 955 1138 269.4301 280.8374
1165 983 983 1165 269.6130 280.6690
1109 927 927 1109 270.6325 282.6811
1186 1019 1019 1186 270.1741 280.1409
1100 918 918 1100 271.1548 283.4930
1168 1019 1019 1168 269.6543 279.5781
1204 1023 1023 1204 270.3639 282.9787
629 447 447 629 291.5719 299.6962
1149 967 967 1149 270.6900 282.0078
1205 959 959 1205 271.0154 283.0404
1146 955 955 1146 270.5713 281.3015
634 443 443 634 292.4937 301.8081
1213 959 959 1213 271.2264 282.1752
1206 1023 1023 1206 269.1050 282.4619
1163 982 982 1163 270.2380 281.1504

In [19]:
pd.read_csv('experiment_1_1.csv',delimiter = ' ')

ParserError: Error tokenizing data. C error: Expected 8 fields in line 3, saw 9